# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv_mac/
.env*
build/
dist/
*.egg-info/

# Environment variables
.env

# ADK specifics
.adk/
**/session.db

# IDEs
.vscode/
.idea/
*.log
.DS_Store
